labs/api-lab1/src/bwce/PSGOrderAPIImplementation/PSGOrderHelper/Schemas/MapperInputSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1538615664072" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1538615664072">
  <xsd:complexType name="MapperInputType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="CustomerID" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MapperInput" tibex:source="bw.generalactivities.mapper" type="tns:MapperInputType"/>
</xsd:schema>
